.dropdown {
  position: absolute;
  background: rgb(200, 200, 200);
  width: fit-content;
  border-radius: 10px;
}

.dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown ul li {
  border-bottom: 1px solid black;
  padding: 0.5em 1em;
}

.dropdown ul li:last-of-type {
  border: none;
}

.dropdown ul li:hover {
  background: rgb(30, 30, 30);
  color: rgb(200, 200, 200);
}

.dropdown ul li.disable {
  text-decoration: line-through;
  opacity: 0.5;
}

.dropdown ul li.disable:hover {
  background: rgb(200, 200, 200);
  color: rgb(30, 30, 30);
}
