.dropdown {
  position: absolute;
  width: fit-content;
  border-radius: 10px;
}

.dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown ul li {
  border-bottom: 1px solid black;
}

.dropdown ul li:last-of-type {
  border: none;
}

.dropdown ul li.disable:hover {
  background: rgb(200, 200, 200);
  color: rgb(30, 30, 30);
}

.dropdown ul li button {
  width: 100%;
  background: rgb(200, 200, 200);
  border: none;
  margin: 0;
  padding: 0.5em 1em;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.dropdown ul li:first-of-type button {
  border-radius: 10px 10px 0 0;
}

.dropdown ul li:last-of-type button {
  border-radius: 0 0 10px 10px;
}

.dropdown ul li button:disabled {
  text-decoration: line-through;
}

.dropdown ul li button:hover:not(:disabled) {
  background: rgb(30, 30, 30);
  color: rgb(200, 200, 200);
}

img.target-thumbnail {
  height: 20px;
  width: 20px;
  object-fit: cover;
}
