.leaderboard {
  background: black;
  color: white;
  max-width: 1000px;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

.leaderboard ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.leaderboard ul li {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}
