nav {
  background: rgb(30, 30, 30);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 0 50px;
}

h1 {
  color: rgb(200, 50, 50);
}

h1 {
  cursor: pointer;
}

.target-list {
  display: flex;
  gap: 30px;
  text-align: center;
  font-size: 0.8rem;
}

nav .target-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
