nav {
  background: rgb(30, 30, 30);
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 50px 0 50px;
}

nav h1 {
  cursor: pointer;
  color: rgb(200, 50, 50);
  margin-right: auto;
}

.leaderboard-btn {
  padding: 5px;
  border: 1px solid rgb(150, 150, 150);
  cursor: pointer;
}

.leaderboard-btn:hover {
  box-shadow: rgba(150, 150, 150, 0.8) 0 0 5px 1px;
}

nav .target-list {
  display: flex;
  gap: 30px;
  text-align: center;
  font-size: 0.8rem;
  margin-left: 3vw;
}

nav .target-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

@media only screen and (max-width: 520px) {
  .leaderboard-btn {
    font-size: 0.8rem;
  }

  nav .target-list {
    margin-left: 1vw;
  }

  nav .target-item img {
    width: 30px;
    height: 30px;
  }
}
